# macOS
.DS_Store

# Logs
*.log

# Node
node_modules/

# Build folders
dist/
build/

# Env files
.env

# Editor
.vscode/
.idea/

# OS
Thumbs.db

# TypeScript compiled output
public/components/
public/utils/
public/index.js
public/validate.js
